force-app/main/default/flows/Lead_is_MQL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_lead_is_MQL</name>
        <label>Notify sales new lead is MQL</label>
        <locationX>659</locationX>
        <locationY>510</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>New Lead is Marketing Qualified - Pardot Score over 80</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Lead is MQL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead is MQL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pardot_Score</name>
        <label>Get Pardot Score</label>
        <locationX>486</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mark_as_MQL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pi__Score__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pi__Category_Lead_Score__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_as_MQL</name>
        <label>Mark as MQL</label>
        <locationX>486</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>New_lead_is_MQL</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Marketing Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>40</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Get_Pardot_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing Qualified</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
